@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0072FF;
    --medium-primary-color: #85c2ff;
    --light-primary-color: #dcecfc;
    --text-primary-color: #181818;
    --text-secondary-color: #333333;
    --text-third-color: #888888;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

body {
    background: var(--light-primary-color);
    color: var(--text-secondary-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.center-info h1 {
    font-size: 64px;
}

.center-info p {
    font-size: 28px;
}