@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0072FF;
    --medium-primary-color: #f4faff;
    --light-primary-color: #dcecfc;
    --text-primary-color: #181818;
    --text-secondary-color: #333333;
    --text-third-color: #888888;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

html, body {
    height: 100%;
}

body {
    background: var(--light-primary-color);
    color: var(--text-secondary-color);
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 600px;
    height: 550px;
    background: white;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.form-block{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary-color);
    text-align: center;
    padding: 40px;
}

form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.input-box input {
    width: 100%;
    padding: 12px 12px;
    background-color: #e9e9e9;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-secondary-color);
    font-weight: 500;
}

.input-box select {
    width: 100%;
    padding: 12px 12px;
    background-color: #e9e9e9;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text-secondary-color);
    font-weight: 500;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.input-box input::placeholder {
    color: var(--text-third-color);
    font-weight: 400px;
}


.btn {
    width: 100%;
    height: 48px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: 2px solid var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
    transition: var(--tran-03);
}

.btn:hover {
    background: transparent;
    color: var(--primary-color);
}